{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration.76b8fe43-8d83-4ec2-b01b-b2779b6fa62d",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "startWorkflow.IdentityProvider_BPM",
      "type": "java.lang.String"
    },
    "wssTimeToLive": {
      "name": "wssTimeToLive",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "StartWorkflow.application",
      "type": "java.lang.String"
    },
    "sslProvider": {
      "name": "sslProvider",
      "value": 300,
      "type": "java.lang.Integer"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "wssEnableProtectToken": {
      "name": "wssEnableProtectToken",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    "userpassword": {
      "name": "userpassword",
      "value": "\/AMX_BPM\/Password",
      "type": "java.lang.String"
    },
    "xmlC14NAlgorithm": {
      "name": "xmlC14NAlgorithm",
      "value": "XML_EXC_C14N",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "StartWorkflow",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    ".factoryPID": {
      "name": ".factoryPID",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 153,
      "type": "java.lang.Long"
    },
    "wssSignatureAlgorithm": {
      "name": "wssSignatureAlgorithm",
      "value": "RSA_SHA256",
      "type": "java.lang.String"
    },
    "wssEnableSignatureConfirmation": {
      "name": "wssEnableSignatureConfirmation",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "sslClientAuth": {
      "name": "sslClientAuth",
      "value": "none",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "wssKeyTypeSpecification": {
      "name": "wssKeyTypeSpecification",
      "value": "BST_DIRECT_REFERENCE",
      "type": "java.lang.String"
    },
    "wssBspCompliant": {
      "name": "wssBspCompliant",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "username",
          "type": "java.lang.String"
        },
        {
          "value": "userpassword",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration.76b8fe43-8d83-4ec2-b01b-b2779b6fa62d",
      "type": "java.lang.String"
    },
    "enableTrustStoreAccess": {
      "name": "enableTrustStoreAccess",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".interfaceType": {
      "name": ".interfaceType",
      "value": "com.tibco.bw.sharedresource.trinity.identity.subject.runtime.SubjectResource",
      "type": "java.lang.String"
    },
    "sslCipherStrength": {
      "name": "sslCipherStrength",
      "value": "NoExportableCiphers",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "wssEncryptionAlgorithm": {
      "name": "wssEncryptionAlgorithm",
      "value": "AES_128",
      "type": "java.lang.String"
    },
    "username": {
      "name": "username",
      "value": "\/AMX_BPM\/User",
      "type": "java.lang.String"
    }
  }
}