{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/identity\/subject}SubjectConfiguration.76b8fe43-8d83-4ec2-b01b-b2779b6fa62d",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}