{
  "pid": "bw.application.com.tibco.poc.test.bpm.soapCall_1.0",
  "properties": {
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.HOST.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/DB_URL": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/DB_URL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Port": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Port",
      "value": "15556",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/FILE\/Folder": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/FILE\/Folder",
      "value": "c:\\temp\\",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/DB_URL": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/DB_URL",
      "value": "jdbc:tibcosoftwareinc:db2:\/\/ssva90324:50000;DatabaseName=ECM_WFMS",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/FILE\/Folder": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/FILE\/Folder",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/NamingProviderUrl": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/NamingProviderUrl",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Host": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Host",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Host": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Host",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/Password": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "com.tibco.poc.test.bpm.soapCall",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/User": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/User",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/User": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/User",
      "value": "WFDATA_DBA",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/NamingProviderUrl": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/NamingProviderUrl",
      "value": "tibjmsnaming:\/\/ssva90322:8222",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.startWF": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.startWF",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DOMAIN.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "com.tibco.poc.test.bpm.soapCall",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPSPACE.NAME": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.startWF": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.startWF",
      "value": "com.tibco.poc.test.bw.startWF",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.savedata": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.savedata",
      "value": "com.tibco.poc.test.bw.savedata",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.com.tibco.poc.test.bpm.soapCall_1.0",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Port": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/HTTP_BW6\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/Password": {
      "name": "\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/DB2_WFDATA_BPM\/Password",
      "value": "#!\/hELfsPxyTWYu5o9\/jRMfu62givkEnBJRc6WXeqFksjKwp0oK\/P45CMJu8XZJmSYa9n9O9w496s=",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.savedata": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/\/JMS_BPM_BW6\/com.tibco.poc.test.bw.savedata",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/com.tibco.poc.test.bpm.soapCall.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}