{
  "pid": "bw.resource.jdbc.e77ae856-181b-422d-9f96-8b8b158b84e5",
  "properties": {
    ".type.maxConnections": {
      "name": ".type.maxConnections",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "com.tibco.poc.test.bpm.soapcall.module.JDBCConnectionResource",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "com.tibco.poc.test.bpm.soapCall",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    ".type.jdbcDriver": {
      "name": ".type.jdbcDriver",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "\/DB2_WFDATA_BPM\/Password",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "com.tibco.poc.test.bpm.soapCall.module",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/amf\/models\/sharedresource\/jdbc}JdbcDataSource",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 251,
      "type": "java.lang.Long"
    },
    "loginTimeout": {
      "name": "loginTimeout",
      "value": 30,
      "type": "java.lang.Integer"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "connectionIdleTimeout": {
      "name": "connectionIdleTimeout",
      "value": "300",
      "type": "java.lang.String"
    },
    ".runtime.id": {
      "name": ".runtime.id",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "maxConnections": {
      "name": "maxConnections",
      "value": 100,
      "type": "java.lang.Integer"
    },
    "connectionIdleTimeoutType": {
      "name": "connectionIdleTimeoutType",
      "value": "Seconds",
      "type": "java.lang.String"
    },
    ".resourceref.subjectJndiName.value": {
      "name": ".resourceref.subjectJndiName.value",
      "value": "",
      "type": "java.lang.String"
    },
    "jdbcDriver": {
      "name": "jdbcDriver",
      "value": "tibcosoftwareinc.jdbc.db2.DB2Driver",
      "type": "java.lang.String"
    },
    ".type.userName": {
      "name": ".type.userName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".sematictype.password": {
      "name": ".sematictype.password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "userName": {
      "name": "userName",
      "value": "\/DB2_WFDATA_BPM\/User",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.resource.jdbc.e77ae856-181b-422d-9f96-8b8b158b84e5",
      "type": "java.lang.String"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "userName",
          "type": "java.lang.String"
        },
        {
          "value": "password",
          "type": "java.lang.String"
        },
        {
          "value": "dbURL",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    ".type.connectionIdleTimeout": {
      "name": ".type.connectionIdleTimeout",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.loginTimeout": {
      "name": ".type.loginTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".resourceref.subjectJndiName.type": {
      "name": ".resourceref.subjectJndiName.type",
      "value": "{http:\/\/xsd.tns.tibco.com\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    ".type.dbURL": {
      "name": ".type.dbURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.transactional": {
      "name": ".type.transactional",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.connectionIdleTimeoutType": {
      "name": ".type.connectionIdleTimeoutType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "transactional": {
      "name": "transactional",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "dbURL": {
      "name": "dbURL",
      "value": "\/DB2_WFDATA_BPM\/DB_URL",
      "type": "java.lang.String"
    }
  }
}