{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.e8f007af-1e2d-480f-9148-ad6b52ef953f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}