{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.72343380-fbce-4737-ad66-47fa9bbb9d7d",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}