{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.ce42f03a-5d48-410e-9366-232a475c8204",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}