{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.8988dba6-2240-44ec-a4c7-dd441c3fb708",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}