{
  "pid": "bw.application.StartWorkflow.application_1.0",
  "properties": {
    ".type.\/\/StartWorkflow\/\/\/JMS_BPM_BW6\/NamingProviderUrl": {
      "name": ".type.\/\/StartWorkflow\/\/\/JMS_BPM_BW6\/NamingProviderUrl",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/StartWorkflow\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/\/AMX_BPM\/Password": {
      "name": "\/\/StartWorkflow\/\/\/AMX_BPM\/Password",
      "value": "#!Ious1Na2z4O\/vBMRcQjKknyJEThjRnvH",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/\/FILE\/Folder_File": {
      "name": ".type.\/\/StartWorkflow\/\/\/FILE\/Folder_File",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/\/FILE\/Folder_File": {
      "name": "\/\/StartWorkflow\/\/\/FILE\/Folder_File",
      "value": "c:\\temp\\*.xml",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "StartWorkflow.application",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.HOST.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/\/AMX_BPM\/User": {
      "name": ".type.\/\/StartWorkflow\/\/\/AMX_BPM\/User",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "StartWorkflow.application",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.APPNODE.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/StartWorkflow\/\/BW.HOST.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/\/AMX_BPM\/Password": {
      "name": ".type.\/\/StartWorkflow\/\/\/AMX_BPM\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.MODULE.VERSION": {
      "name": "\/\/StartWorkflow\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.APPSPACE.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/StartWorkflow\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/\/JMS_BPM_BW6\/NamingProviderUrl": {
      "name": "\/\/StartWorkflow\/\/\/JMS_BPM_BW6\/NamingProviderUrl",
      "value": "tibjmsnaming:\/\/ssva90322:8222",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.DOMAIN.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.StartWorkflow.application_1.0",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/BW.MODULE.NAME": {
      "name": "\/\/StartWorkflow\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/StartWorkflow\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/StartWorkflow\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/StartWorkflow\/\/\/AMX_BPM\/User": {
      "name": "\/\/StartWorkflow\/\/\/AMX_BPM\/User",
      "value": "tibco-admin",
      "type": "java.lang.String"
    }
  }
}