{
  "pid": "com.tibco.bw.stat.appnode.06bc85f4-d980-4711-a80c-485a2bb87da9",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.06bc85f4-d980-4711-a80c-485a2bb87da9",
      "type": "java.lang.String"
    }
  }
}