{
  "pid": "com.tibco.bw.stat.appnode.157d4f26-c7db-4162-85d7-81855aa85ca6",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.157d4f26-c7db-4162-85d7-81855aa85ca6",
      "type": "java.lang.String"
    }
  }
}