{
  "pid": "com.tibco.bw.stat.appnode.ced3ae35-ad37-43cd-8482-2a388d47b871",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.ced3ae35-ad37-43cd-8482-2a388d47b871",
      "type": "java.lang.String"
    }
  }
}