{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.022d1305-b529-4070-9c04-52f971f648b8",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}