{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.7754068b-b085-44b5-9a9e-3b6afafb702e",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}